html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-layout {
  min-height: 100%;
  background: #f1f4f7; /* app background */
}

.content-wrapper {
  padding: 12px;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding: 16px 24px;
  }
}
